*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(192, 192, 192);
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'sans-serif';
}
nav{
    margin: 40px;
    box-shadow: 10px 10px 10px rgba(0,70, 7, 1);
    background-color: antiquewhite;
    border-radius: 10px;
}
nav ul{
    /* height: 80px; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center ;
}
ul li{
    /* padding: 10px; */
    list-style: none;
    height: 50px;
    
}
nav a{
    height: 100%;
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.menuIcon{
    display: none;
}
nav a:hover{
    color:#de9f9f ;
}
ul li:first-child{
    margin-right: auto;   
}
.sideBar{
    position: fixed;
    margin: 40px;
    top: 0;
    right: 0;
    height: 90vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(240, 248, 255, 0.229);
    box-shadow: -10px 10px 10px rgba(0,70, 7, 1) ;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    backdrop-filter: blur(10px) ;
}
.sideBar li{
    width: 100%;
}
.sideBar a{
    width: 100%;
}

@media only screen and (max-width:800px) {
    .menuIcon{
        display: block;
    }
    .smallScreen{
        display: none;
    }
}